*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Dosis", sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 100%;
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #ffffff;
  border-bottom: 1px solid #dfd7d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  background-color: #333;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-view {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem;
  background: #faf9f9;
  border-bottom: 1px solid #dfd7d7;
}

.description {
  font-size: 1.4rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 4.5rem;
  border-radius: 3px;
}

.user-reviews {
  background-color: yellowgreen;
  border-radius: 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #f1eeee;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  margin-right: -3.25rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #dfd7d7;
}

.search__input::-webkit-input-placeholder {
  color: #a7a4a4;
  font-weight: 100;
  font-size: inherit;
}

.search__input:-ms-input-placeholder {
  color: #a7a4a4;
  font-weight: 100;
  font-size: inherit;
}

.search__input::-ms-input-placeholder {
  color: #a7a4a4;
  font-weight: 100;
  font-size: inherit;
}

.search__input::placeholder {
  color: #a7a4a4;
  font-weight: 100;
  font-size: inherit;
}

.search__input:focus + .search__button {
  background-color: #dfd7d7;
}

.search__button {
  border: none;
  background-color: #f1eeee;
  cursor: pointer;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.search__icon {
  width: 2rem;
  height: 2rem;
}

.user-nav {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > *:hover {
  background-color: #f1eeee;
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  width: 2.25rem;
  height: 2.25rem;
  color: #777;
}

.user-nav__notification {
  font-size: 0.8rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  position: absolute;
  top: 1.3rem;
  right: 1.55rem;
  background-color: #ff3366;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav__user-photo {
  height: 3.5rem;
  border-radius: 50%;
}

.user-nav__user-name {
  margin-left: 1rem;
  color: #a7a4a4;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #ff3366;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}

.side-nav__item:hover::before,
.side-nav .active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background-color: #f13463;
}

.side-nav__link:link, .side-nav__link:visited {
  color: #f4f2f2;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav__icon {
  margin-right: 2rem;
}

svg.icon {
  color: #777;
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: #ccc;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dfd7d7;
}

.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}

.overview__stars {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview__icon-star, .overview__icon-location {
  color: #ff3366;
  font-size: 1.5rem;
}

.overview__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview__icon-location {
  margin-right: 0.5rem;
}

.overview__rating {
  background-color: #ff3366;
  color: #ffffff;
  margin-left: 3rem;
  padding: 0 2.25rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview__rating-average {
  font-size: 2.25rem;
  margin-bottom: -3px;
  font-weight: 300;
}

.overview__rating-count {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.btn-inline {
  border: none;
  font-size: inherit;
  color: #ff3366;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.btn-inline:hover {
  color: #777;
}

.btn-inline:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid #dfd7d7;
  border-bottom: 1px solid #dfd7d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 0.7rem;
}

.list__item:before {
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 0.7rem;
  background-color: #ff3366;
  -webkit-mask-image: url(../img/chevron-right-solid.svg);
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../img/chevron-right-solid.svg);
  mask-repeat: no-repeat;
}

.recommend {
  font-size: 1.3rem;
  color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend__count {
  margin-right: auto;
}

.recommend__photo {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 4rem;
  height: 4rem;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.recommend__photo:not(:last-child) {
  margin-right: -1.5rem;
}
/*# sourceMappingURL=main.css.map */