.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;

  @include responsiv(map-get($breakpoint, mobile)) {
    order: 1;
    flex: 0 0 100%;
    align-self: center;
    // background-color: map-get($grey, light);
    margin-left: -8px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: map-get($grey, light);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
    transition: all 0.3s ease;
    &:focus {
      outline: none;
      width: 100%;
      background-color: map-get($grey, secondary);
    }

    &::-webkit-input-placeholder {
      // color: map-get($grey, default-2);
      color: lighten($color-primary-light, 30%);
      font-weight: 400;
      font-size: inherit;
    }
    &::placeholder {
      // color: map-get($grey, default-2);
      color: $color-primary-light;
      font-weight: 400;
      font-size: inherit;
    }
  }

  &__input:focus + &__button {
    background-color: map-get($grey, secondary);
    color: lighten($color-primary-light, 10%);
  }

  &__button {
    border: none;
    color: lighten($color-primary-light, 30%);
    background-color: map-get($grey, light);
    cursor: pointer;
    transition: all 0.2s;
    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;
    @include responsiv(map-get($breakpoint, mobile)) {
      padding: 0 1rem;
    }
  }

  & > *:hover {
    background-color: map-get($grey, light);

    @include responsiv(map-get($breakpoint, mobile)) {
      background-color: $color-white;
    }
  }
  &__icon-box {
    position: relative;
  }

  &__icon {
    width: 2.25rem;
    height: 2.25rem;
    color: map-get($grey, dark-primary);
  }

  &__notification {
    font-size: 0.8rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    position: absolute;
    top: 1.3rem;
    right: 1.55rem;
    background-color: $color-primary-light;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsiv(map-get($breakpoint, mobile)) {
      top: 1rem;
      right: 1rem;
    }
  }

  &__user {
    &-photo {
      height: 3.5rem;
      border-radius: 50%;
      @include responsiv(map-get($breakpoint, mobile)) {
        margin-right: 1rem;
      }
    }

    &-name {
      margin-left: 1rem;
      color: map-get($grey, default-2);
      @include responsiv(map-get($breakpoint, mobile)) {
        margin-left: 0;
      }
    }
  }
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @include responsiv(map-get($breakpoint, tablet)) {
    display: flex;
    margin: 0;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    @include responsiv(map-get($breakpoint, tablet)) {
      flex: 1;
      height: 100%;
    }
    position: relative;
  }
  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-primary-light;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
    @include responsiv(map-get($breakpoint, tablet)) {
      height: 100%;
    }
  }

  &__item:hover::before,
  .active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: $color-primary;
  }

  &__link:link,
  &__link:visited {
    color: map-get($grey, primary);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    position: relative;
    z-index: 10;
    align-items: center;

    @include responsiv(map-get($breakpoint, tablet)) {
      justify-content: center;
      padding: 2rem;
      height: 100%;
    }

    @include responsiv(map-get($breakpoint, mobile)) {
      flex-direction: column;
      padding: 1.5rem 0.5rem;
    }
  }

  &__icon {
    margin-right: 2rem;

    @include responsiv(map-get($breakpoint, mobile)) {
      margin-right: 0;
      margin-bottom: 0.7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

svg.icon {
  color: map-get($grey, dark-primary);
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: map-get($grey, default-1);

  @include responsiv(map-get($breakpoint, tablet)) {
    display: none;
  }
}

.gallery {
  display: flex;
  &__item {
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  &__icon {
    color: lighten($color-primary-light, 10%);
    font-size: 2.6rem;
    transform: rotate(15deg);
    @include responsiv(map-get($breakpoint, mobile)) {
      font-size: 1.6rem;
    }
  }
  &__photo {
    width: 100%;
    display: block;
    @include responsiv(map-get($breakpoint, tablet)) {
      width: 100%;
    }
    transition: all 0.3s ease-out;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 300;
    color: map-get($grey, primary);
    z-index: 10;
    text-align: center;
    // padding-top: 50px;
    background-color: rgba(225, 225, 225, 0.25);
    transform: translateY(100%);
    transition: all 0.3s cubic-bezier(0.04, 0.96, 0.55, 1);

    & h3 {
      margin-top: 40px;
      @include responsiv(map-get($breakpoint, mobile)) {
        margin-top: 2px;
      }
    }
    @include responsiv(map-get($breakpoint, tablet)) {
      font-size: 1.3rem;
      padding-top: 15px;
    }
  }

  &__item:hover &__caption {
    top: 0;
    transform: translateY(0);
  }
  &__item:hover &__photo {
    transform: scale(1.1);
    filter: blur(1px);
    @supports (-webkit-filter: blur()) and (filter: blur()) {
      -webkit-filter: blur(1px);
      filter: blur(1px);
    }
  }
}

.btn-caption {
  color: $color-white;
  font-family: inherit;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary
  );
  border: none;
  border-radius: 100px;
  padding: 1.2rem 3.5rem;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 5px;
  &:active {
    outline: none;
    transform: translateY(5px);
  }
  @include responsiv(map-get($breakpoint, tablet)) {
    margin-top: 2px;
    font-size: 1.2rem;
    padding: 0.8rem 3rem;
  }
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: $border-bottom;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @include responsiv(map-get($breakpoint, mobile)) {
      font-size: 1.4rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    color: $color-primary-light;
    font-size: 1.5rem;
    @include responsiv(map-get($breakpoint, mobile)) {
      font-size: 1rem;
    }
  }

  &__location {
    display: flex;
    align-items: center;
  }
  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    background-color: $color-primary-light;
    color: $color-white;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include responsiv(map-get($breakpoint, mobile)) {
      padding: 0 1.5rem;
    }

    &-average {
      font-size: 2.25rem;
      margin-bottom: -3px;
      font-weight: 300;

      @include responsiv(map-get($breakpoint, mobile)) {
        font-size: 1.8rem;
      }
    }

    &-count {
      font-size: 1.1rem;
      text-transform: uppercase;

      @include responsiv(map-get($breakpoint, mobile)) {
        font-size: 1rem;
      }
    }
  }
}

.btn-inline {
  border: none;
  font-size: inherit;
  color: $color-primary-light;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  backface-visibility: hidden;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: map-get($grey, dark-primary);

    .ml-2 {
      margin-left: 0.4rem;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: $border-bottom;
  border-bottom: $border-bottom;

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
    &:before {
      content: "";
      width: 1rem;
      height: 1rem;
      display: inline-block;
      margin-right: 0.7rem;
      background: url(../img/chevron-right-solid.svg) no-repeat;
      // background-color: $color-primary-light;

      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        background-color: $color-primary-light;
        -webkit-mask-image: url(../img/chevron-right-solid.svg);
        -webkit-mask-repeat: no-repeat;
        mask-image: url(../img/chevron-right-solid.svg);
        mask-repeat: no-repeat;
        background-image: none;
      }
    }
  }
}

.recommend {
  font-size: 1.3rem;
  color: map-get($grey, dark-primary);

  display: flex;
  align-items: center;
  // justify-content: space-between;

  &__count {
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border: 3px solid $color-white;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: -2rem;
    }
    @include responsiv(map-get($breakpoint, largest)) {
      width: 3rem;
      height: 3rem;
    }
  }
}

.review {
  background-color: $color-white;
  box-shadow: $shadow2;
  padding: 3rem;
  margin-bottom: 3.5rem;
  border-radius: 3px;
  position: relative;
  z-index: 10;
  overflow: hidden;

  @include responsiv(map-get($breakpoint, tablet)) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 2rem;
  }

  &__user {
    display: flex;
    align-items: center;
    &-box {
      margin-right: auto;
    }

    &-name {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
    }

    &-date {
      font-size: 1rem;
      color: map-get($grey, dark-primary);
    }
  }

  &__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__rating {
    font-size: 2.2rem;
    color: $color-primary-light;
    font-weight: 300;
  }

  &::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10d";
    position: absolute;
    top: 0.15rem;
    left: -0.5rem;
    line-height: 1;
    font-size: 4.5rem;
    z-index: -1;
    color: map-get($grey, primary);
  }
}

.cta {
  padding: 3.5rem 0;
  text-align: center;
  @include responsiv(map-get($breakpoint, tablet)) {
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    color: map-get($grey, dark-primary);
    @include responsiv(map-get($breakpoint, mobile)) {
      font-size: 1.5rem;
    }
  }

  &__copyright {
    font-size: 1.3rem;
    margin-top: 4rem;
    color: map-get($grey, dark-primary);
    display: none;

    @include responsiv(map-get($breakpoint, tablet)) {
      display: block;
    }
  }
}

.btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  font-weight: 300;
  color: $color-white;
  font-family: inherit;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary
  );
  cursor: pointer;
  position: relative;
  overflow: hidden;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }
  &__visible {
    padding: 2rem 9rem;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0;
    top: -100%;
    left: 0;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      $color-primary-light,
      $color-primary
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
  }
  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

.ml-2 {
  margin-left: 0.2rem;
  transition: margin-left 0.2s;
}
