$color-primary: #e8199c; // darkpink
$color-primary-light: #ff3366;
$color-primary-dark: #ba265d;

$grey: (
  default: #ccc,
  primary: #f4f2f2,
  secondary: #faf9f9,
  light: #f0eeee,
  dark: #333,
  dark-primary: #777,
  dark-default: #999
);

$font-family: "Dosis", sans-serif;
